<% if @newbook.errors.any? %>
          <div id="error_explanation">
            <h3><%= @newbook.errors.count %> error prohibited this obj from being saved:</h3>
           
              <ul>
                  <% @newbook.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
              </ul>
          </div>
      <% end %>

<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<table class="table">
				<tr><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg", size:'100x100' %></tr>

				<tr>
					<th>name</th>
					<th><%= @book.user.name %></th>
				</tr>

				<tr>
					<th>introduction</th>
					<th><%= @book.user.introduction %></th>
				</tr>
		</table>

		<div class="row">
			<%= link_to '',edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}" %>
		</div>

		<h2>New book</h2>
		<%= render 'books/newform' %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tbody>
				<tr>
					
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg", size:'100x100' %><p><%= link_to @book.user.name, user_path(@user) %></p></td>
				    <td><%= @book.title %></td>
				    <td><%= @book.body %></td>
				    <% if @book.user_id == current_user.id %>
					    <td>
						    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
						</td>
						<td>
						    <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか?"}, class: "btn btn-danger" %>
						</td>
					<% end %>

				</tr>
			</tbody>
		</table>

	</div>
</div>

